.main-userpage-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.userpage-content-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 46rem;
    gap: 20px;
}

.userpage-account {
    background-color: white;
    border: 1px solid var(--bs-gray-400);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.userpage-account-info {
    display: flex;
    justify-content: space-between;
    height: 180px;
    border-bottom: 1px solid var(--bs-gray-400);
    position: relative;
    padding: 0 20px;
    align-items: center;
}

.userpage-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    position: relative;
    top: 6px;
}

.userpage-profile-btn {
    background: none;
    border: none;
    font-size: 13px;
    color: var(--bs-gray-600);
    transition: color 0.2s ease;
}

.userpage-profile-btn.func-btn:hover {
    color: var(--bs-blue);
}

.userpage-profile-btn.friend-btn:hover {
    color: var(--bs-green);
}

.userpage-profile-btn.unfriend-btn:hover {
    color: var(--bs-red);
}

.userpage-account-more {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 90px;
    font-size: 14px;
    color: var(--bs-gray-600);
    padding: 15px 25px;
    transition: height 0.2s ease;
}

.userpage-account-more.expanded {
    height: 380px;
}

.userpage-account-more > #userpage-additional-info {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    transition: opacity 0.15s ease, visibility 0.15s ease;
}

.userpage-account-more.expanded > #userpage-additional-info {
    visibility: visible;
    opacity: 1;
}

.userpage-account-more > button > svg {
    transition: transform 0.2s ease;
}

.userpage-account-more.expanded > button > svg {
    transform: rotate(-180deg);
}

.userpage-sidebar-container {
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 317px;
    gap: 40px;
}

.userpage-sidebar-header {
    font-weight: 600;
    padding: 20px 20px 15px;
}

.userpage-sidebar-header > a {
    text-decoration: none;
    color: inherit;
}

.userpage-friends {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--bs-gray-400);
    border-radius: 7px;
    height: 305px;
}

.userpage-friends-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.userpage-friends-list > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 120px;
    width: 105px;
    transition: background 0.15s ease;
}

.userpage-friends-list > li:hover {
    background-color: var(--bs-gray-100);
}

.userpage-friend-name {
    position: relative;
    top: 4px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    width: 70px;
}

.userpage-friend-name > span {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userpage-images {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--bs-gray-400);
    border-radius: 7px;
    height: 520px;
}

.userpage-images-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userpage-images-list > li > img {
    margin: 5px;
    cursor: pointer;
    width: 128px;
    height: 128px;
    object-fit: cover;
    transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}

.userpage-images-list > li > img:hover {
    margin: 2px;
    width: 134px;
    height: 134px;
}
