.main-homepage-container {
    display: flex;
    justify-content: center;
}

.homepage-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posting-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--bs-gray-400);
    border-radius: 7px;
    width: 42rem;
    height: 11rem;
    margin-bottom: 20px;
}

.post-edit-container {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-right: 30px;
    padding-top: 25px;
}

.posting-textarea {
    position: relative;
    border: 1px solid var(--bs-gray-600);
    border-radius: 3px;
    border: none;
    outline: none;
    width: 33rem;
    height: 5.5rem;
    resize: none;
}

.posting-textarea::placeholder {
    color: var(--bs-gray-500);
}

.post-panel {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.posting-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-blue);
    border: none;
    border-radius: 4px;
    width: 45px;
    height: 33px;
    transition: background 0.2s ease;
}

.posting-submit-btn:hover {
    background-color: var(--bs-link-hover-color);
}

.image-attachment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 33px;
    padding: 6px;
    cursor: pointer;
    border: 1px solid var(--bs-gray-400);
    background-color: var(--bs-gray-200);
    border-radius: 4px;
    transition: background 0.2s ease;
}

.image-attachment-btn:hover {
    background-color: var(--bs-gray-300);
}

.post-avatar {
    cursor: pointer;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.symbols-counter {
    position: relative;
    font-size: 10px;
    color: var(--bs-gray-600);
}

.sidenav-container {
    background-color: white;
    border: 1px solid var(--bs-gray-400);
    border-radius: 7px;
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: column;
    width: 17rem;
    height: 600px;
    margin-right: 30px;
}

/* .sidenav-... */

.sidebar-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 16rem;
    height: 27rem;
    margin-left: 30px;
    background-color: white;
    border: 1px solid var(--bs-gray-400);
    border-radius: 7px;
}

.sidebar-header {
    font-weight: 600;
    padding: 20px;
}

.sidebar-suggestions {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.sidebar-suggestions > li {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
    height: 55px;
    transition: background 0.15s ease;
}

.sidebar-suggestions > li:hover {
    background-color: var(--bs-gray-100);
}

.suggested-user-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 8.7rem;
    /* right: 11%; */
}

.add-user-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    color: var(--bs-blue);
    border: 1px solid var(--bs-blue);
    border-radius: 50%;
    font-weight: 600;
    transition: background 0.15s ease, color 0.15s ease;
}

.add-user-btn:hover {
    color: white;
    background-color: var(--bs-blue);
}
