:root {
    --bg: #e9ecef;
    --section: #ffffff;
    --hover: #f8f9fa;
    --text: #212529;
    --border: #ced4da;
}

:root[data-theme="dark"] {
    --bg: #000000;
    --section: #181c1e;
    --hover: #252a2e;
    --text: #dfdfdf;
    --border: #2a2a2a;
}

.disable-theme-transitions *,
.disable-theme-transitions *::before,
.disable-theme-transitions *::after {
    transition: none !important;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    --header-height: 56px;
}

main {
    margin-top: var(--header-height);
    padding-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}

img {
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

.loader {
    width: 18px;
    height: 18px;
    border: 2px solid var(--bs-primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.7s linear infinite;
}

/* .section {
    background: var(--section);
    transition: color 0.2s ease, background 0.2s ease;
} */

.form-control {
    background-color: var(--section);
    color: var(--text);
    border-color: var(--border);
}

.form-control:focus {
    background-color: var(--section);
    color: var(--text);
}

.form-control::placeholder {
    color: var(--bs-gray-500);
}

.dropdown {
    opacity: 0;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    background-color: var(--section);
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 7px;
    transition: visibility 0.15s ease, opacity 0.15s ease, top 0.15s ease;
}

.dropdown.show {
    opacity: 1;
    top: 100%;
    visibility: visible;
    pointer-events: auto;
}

.dropdown > * {
    color: inherit;
    text-decoration: none;
    padding: 7px 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.error-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

@media (max-width: 768px) {
    main {
        padding-top: 25px;
    }
}
