.main-auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.auth-window {
    position: relative;
    background-color: var(--section);
    color: var(--text);
    border: 1px solid var(--border);
    width: 31rem;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.auth-header {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    margin: 30px 0;
}

.input-container {
    position: relative;
    padding-bottom: 25px;
    text-align: left;
}

.auth-input {
    position: relative;
    margin: 0 auto;
    padding: 9px 15px;
    opacity: 85%;
    width: 95%;
    background-color: var(--section);
    color: var(--text);
}

.error-message {
    position: relative;
    color: red;
    font-size: 13px;
    text-align: left;
    left: 17px;
}

.submit-btn {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
    width: 60%;
    padding: 7px 0;
    border-radius: 5px;
    margin-top: 19px;
}

.eye-icon {
    position: absolute;
    border: none;
    color: var(--text);
    background: transparent;
    right: 20px;
    top: 9px;
}

.form-control {
    box-shadow: none !important;
}

@media (max-width: 768px) {
    .auth-window {
        width: 24rem;
    }
}
