.main-userpage-container {
    display: flex;
    gap: 40px;
    max-width: 1100px;
    width: 100%;
}

.userpage-content-container {
    display: flex;
    flex-direction: column;
    max-width: 46rem;
    width: 100%;
    gap: 20px;
}

.userpage-account {
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.userpage-account-info {
    display: flex;
    justify-content: space-between;
    height: 180px;
    border-bottom: 1px solid var(--border);
    position: relative;
    padding: 0 20px;
    align-items: center;
}

.userpage-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    position: relative;
    top: 6px;
}

.userpage-profile-btn {
    background: none;
    border: none;
    font-size: 13px;
    color: var(--bs-gray-600);
    transition: color 0.2s ease;
}

.userpage-profile-btn.func-btn:hover {
    color: var(--bs-blue);
}

.userpage-profile-btn.friend-btn:hover {
    color: var(--bs-green);
}

.userpage-profile-btn.unfriend-btn:hover {
    color: var(--bs-red);
}

.userpage-account-more {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 90px;
    font-size: 14px;
    padding: 15px 25px;
    transition: height 0.2s ease;
}

.userpage-account-more.expanded {
    height: 380px;
}

.userpage-account-more > #userpage-additional-info {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    transition: opacity 0.15s ease, visibility 0.15s ease;
}

.userpage-account-more.expanded > #userpage-additional-info {
    visibility: visible;
    opacity: 1;
}

.userpage-account-more > button > svg {
    transition: transform 0.2s ease;
}

.userpage-account-more.expanded > button > svg {
    transform: rotate(-180deg);
}

.userpage-sidebar-container {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    width: 100%;
    gap: 40px;
}

.userpage-sidebar-header {
    font-weight: 600;
    padding: 20px 20px 15px;
}

.userpage-sidebar-header > a {
    text-decoration: none;
    color: inherit;
}

.userpage-friends {
    display: flex;
    flex-direction: column;
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 7px;
    min-height: 305px;
}

.userpage-friends-mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 7px;
}

.userpage-friends-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.userpage-friends-list > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-height: 120px;
    max-width: 105px;
    width: 100%;
    transition: background 0.15s ease;
}

.userpage-friends-list > li:hover {
    background-color: var(--hover);
}

.userpage-friend-name {
    position: relative;
    top: 4px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    max-width: 70px;
    width: 100%;
}

.userpage-friend-name > span {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userpage-images {
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 7px;
    min-height: 520px;
}

.userpage-images-mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--section);
    border: 1px solid var(--border);
    border-radius: 7px;
}

.userpage-images-list {
    padding: 0 18px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.userpage-image {
    margin: 5px;
    cursor: pointer;
    width: 128px;
    height: 128px;
    object-fit: cover;
    transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}

.userpage-image:hover {
    margin: 2px;
    width: 134px;
    height: 134px;
}

.main-friendspage-container {
    max-width: 800px;
    width: 100%;
}

.friendspage-header {
    font-size: 19px;
    margin-bottom: 7px;
    background-color: var(--section);
    height: 60px;
    border: 1px solid var(--border);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.search-btn {
    font-size: 14px;
    text-decoration: none;
    padding: 6px;
    border: 1px solid var(--border);
    background-color: var(--section);
    color: var(--bs-gray-600);
    border-radius: 4px;
    transition: background 0.2s ease;
}

.search-btn:hover {
    background-color: var(--hover);
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    padding: 0;
}

.friends-list > li {
    display: flex;
    justify-content: space-between;
    background-color: var(--section);
    padding: 7px;
    border: 1px solid var(--border);
    border-radius: 7px;
    height: 8rem;
}

.friend-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friend-info > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.15s ease;
}

.friend-info > a:hover {
    color: var(--bs-blue);
}

.friend-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.friend-func-btn {
    padding: 3px 7px;
    font-size: 14px;
}

.search-hint {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
    color: var(--bs-gray-600);
}

.main-params-container {
    max-width: 800px;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 7px;
    background-color: var(--section);
    min-height: 800px;
    margin-bottom: 20px;
}

.params-header {
    font-size: 16px;
    color: var(--bs-gray-600);
    padding: 20px 15px 5px 15px;
}

.params-options {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style-type: none;
    font-size: 14px;
    padding: 30px;
}

.params-options > li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.params-option-field {
    height: 2rem;
    background-color: var(--section);
    color: var(--text);
    border-color: var(--border);
}

.params-option-field:focus {
    box-shadow: none;
    border-color: var(--border);
    background-color: var(--section);
    color: var(--text);
}

.params-option-field::placeholder {
    color: var(--bs-gray-600);
}

@media (max-width: 768px) {
    .userpage-sidebar-container {
        display: none;
    }

    .userpage-friends-mobile {
        display: flex;
    }

    .userpage-friends-list {
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
    }

    .userpage-friends-list > li {
        min-width: 105px;
        width: 100%;
    }

    .friend-func-btn {
        padding: 5px 9px;
    }
    
    .friend-func-btn > span {
        display: none;
    }
    
    .main-params-container {
        width: 95%;
    }

    .userpage-images-mobile {
        display: flex;
    }

    .userpage-images-list {
        justify-content: flex-start;
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding: 0 6px;
    }
}
